@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lilita+One&display=swap');

:root {
  --background: #ffffff;
  --frontground: #CBF1F5;
  --highlight: #A6E3E9;
  --foreground: #71C9CE;
  --text: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --frontground: #393E46;
    --highlight: #00ADB5;
    --foreground: #EEEEEE;
    --text: #ffffff;
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
  color: var(--text);
}

.font-h {
  font-family: 'Lilita One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}